<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.pat.tool.keditor.navigation.model.ResourceRootContribution"
            objectClass="com.pat.tool.keditor.navigation.model.ResourceRoot">
         <action
               class="com.kony.nativecodegen.actions.NativeCodeGenAction"
               enablesFor="1"
               id="com.kony.nativecodegen.actions.NativeCodeGenAction"
               label="Native Code"
               menubarPath="buildmenu">
         </action>
         <visibility>
            <objectState
                  name="isProject"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kony.nativecodegen.ui.VariableTypeInferenceEditor"
            default="false"
            extensions="npf"
            id="com.kony.nativecodegen.ui.VariableTypeInferenceEditor"
            name="Type Inference Editor">
      </editor>
   </extension>

</plugin>
